<div class="container p-5">
  <div class="text-center">
    <div
      class="width-max-content mx-auto"
      [class.editable]="isMine"
      (click)="pictureFileInput?.nativeElement?.click()"
      [class.tip]="showingPictureError"
      [attr.data-tip]="pictureErrorMessage"
      id="profile-picture"
    >
      <app-profile-picture [seed]="pictureSeed" [nickname]="nickname"></app-profile-picture>
      <i *ngIf="isMine" class="pencil bi bi-pencil-fill"></i>
      <input
        *ngIf="isMine"
        hidden type="file"
        (change)="onPictureSelected()"
        accept="image/*"
        #pictureFileInput
      >
      <canvas *ngIf="isMine" hidden #pictureCanvas></canvas>
    </div>

    <div [class.tip]="showingNicknameError" [attr.data-tip]="nicknameErrorMessage">
      <div class="width-max-content mx-auto mt-3" [class.shake]="shakeNickname">
        <h1
          id="nickname"
          [class.editable]="isMine"
          class="display-5 fw-bold"
        >
          <span
            (blur)="nicknameBlur()"
            (input)="nicknameInput()"
            [contentEditable]="isMine"
            spellcheck="false"
            #nicknameSpan
          >{{nickname}}</span>

          <i *ngIf="isMine" class="pencil bi bi-pencil-fill"></i>
        </h1>
      </div>
    </div>
    <div *ngIf="isMine" class="width-max-content mx-auto">
      <button
        data-bs-toggle="modal"
        data-bs-target="#password-modal"
        class="mt-4 btn btn-primary d-block w-100"
      >
        Change password
        <i class="bi bi-key-fill"></i>
      </button>

      <div class="modal fade" id="password-modal" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
          <form (submit)="submitPassword()" class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">Choose a new password</h1>
              <button
                (click)="passwordChanged = false"
                type="reset"
                class="btn-close"
                data-bs-dismiss="modal"
              ></button>
            </div>
            <div class="modal-body input-group px-5">
              <span class="input-group-text">Password</span>
              <input
                #password
                type="password"
                class="form-control"
                required
              >
            </div>
            <div class="modal-footer">
              <div
                [class.shake]="shakePasswordAlert"
                *ngIf="passwordChanged"
                class="alert text-start alert-primary me-auto p-1 px-2"
              >
                <b>Password changed!</b>
              </div>
              <button
                (click)="passwordChanged = false"
                type="reset"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >Close</button>
              <button class="btn btn-primary">Apply</button>
            </div>
          </form>
        </div>
      </div>

      <button
        data-bs-toggle="modal"
        data-bs-target="#delete-modal"
        class="mt-3 btn btn-danger d-block w-100"
      >
        Delete profile
        <i class="bi bi-person-x-fill"></i>
      </button>

      <div class="modal fade" id="delete-modal" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header border-0">
              <h1 class="modal-title fs-4 me-1">Are you sure you want to delete your profile?</h1>
              <button type="reset" class="btn-close me-1" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-footer justify-content-center">
              <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button
                (click)="deleteProfile()"
                class="btn btn-danger"
                data-bs-dismiss="modal"
              >Delete permanently</button>
            </div>
          </div>
        </div>
      </div>

      <button
        class="mt-3 btn btn-secondary d-block w-100"
        (click)="logout()"
      >
        Logout
        <i class="bi bi-box-arrow-right"></i>
      </button>
    </div>
  </div>

  <div *ngIf="games.length > 0 " class="mx-auto mt-5 pt-5 games-panel">
    <h1 class="text-center display-3">Games</h1>
    <div class="bg-white border rounded">
      <app-game-result
        [game]="game"
        [first]="isFirst"
        [position]="i + 1"
        [difficultiesData]="difficulties"
        *ngFor="let game of games; index as i; first as isFirst"
      ></app-game-result>
    </div>
  </div>
</div>
