<br>
<div #levels class="container width-max-content">

  <div class="difficultyContainer">
    <span class="words center">20 words</span>
    <button
    class="mt-4 btn btn-success d-block w-100 difficulty">
    Level
    <i class="bi bi-1-circle"></i>
    </button>
  </div>

  <button
    (mouseenter) ="over()"
    (mouseout) ="out()"
    [class.tip]="visible"
    [attr.data-tip]="'40 Words'"
    class="mt-4 btn btn-warning d-block w-100 difficulty text-white">
    Level
    <i class="bi bi-2-circle"></i>
  </button>

  <button
    (mouseenter) ="over()"
    (mouseout) ="out()"
    [class.tip]="visible"
    [attr.data-tip]="'60 Words'"
    class="mt-4 btn btn-danger d-block w-100 difficulty text-white">
    Level
    <i class="bi bi-3-circle"></i>
  </button>
</div>

<div class="container">
  <button class="mt-4 btn btn-primary d-block mx-auto play">
    PLAY
    <i class="bi bi-play"></i>
  </button>
</div>
