services:

  # MariaDB
  database:
    build:
      context: .
      dockerfile: ./database.Dockerfile
    env_file:
      - ./MARIADB_ROOT_PASSWORD.env  # File which contains the database password.
    volumes:
      - ./mariadb:/var/lib/mysql  # Database binaries.
      - ../src/database:/docker-entrypoint-initdb.d  # SQL scripts.

  # Apache + PHP
  server:
    build:
      context: .
      dockerfile: ./server.Dockerfile
    ports:
      - 80:80
      - 443:443
    volumes:
      - ../src/api:/var/www/html  # Exposes the API.
