/* Global styles */

/* Bootstrap */
@import 'https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css';
@import 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1/font/bootstrap-icons.min.css';

/* Fonts */
@import 'https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Source+Code+Pro:wght@400;700&display=swap';

@keyframes shake {
  20% {
    transform: translateX(-0.3rem);
  }

  40% {
    transform: translateX(0.3rem);
  }

  60% {
    transform: translateX(-0.3rem);
  }

  80% {
    transform: translateX(0.3rem);
  }
}

:root {
  --bs-body-font-family: 'Source Code Pro', monospace;
  --bs-body-bg: #F9F9F9;
  --speed-fast: 150ms;
  --color-light-secondary: #ADB2B6;
}

*::after, *::before {
  font-family: 'Source Code Pro', monospace
}

.dancing {
  font-family: 'Dancing Script', cursive;
}

.shake {
  animation: shake 750ms;
}

.bg-light-secondary {
  background-color: var(--color-light-secondary) !important;
}

.border-light-secondary {
  border-color: var(--color-light-secondary) !important;
}

.hideable {
  transition: opacity 200ms;
}

.hideable.hidden {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.width-max-content {
  width: max-content;
}

@media (max-width: 576px) {
  body {
    display: none;
  }

  html {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }

  html::after {
    margin: 2rem;
    display: block;
    content: 'Yooo, you need a wider screen!!';
    font-weight: bold;
    font-size: 3rem;
    color: white;
  }
}
