/* Global styles */

/* Bootstrap */
@import 'https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css';
@import 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1/font/bootstrap-icons.min.css';

/* Fonts */
@import 'https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Source+Code+Pro:wght@400;700&display=swap';

:root {
  --bs-body-font-family: 'Source Code Pro', monospace;
  --bs-body-bg: #F9F9F9;
  --speed-fast: 150ms;
  --color-light-secondary: #ADB2B6;
}

.dancing {
  font-family: 'Dancing Script', cursive;
}

.bg-light-secondary {
  background-color: var(--color-light-secondary) !important;
}

.border-light-secondary {
  border-color: var(--color-light-secondary) !important;
}

.hideable {
  transition: opacity 200ms;
}

.hideable.hidden {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

/* PROFILE PICTURE COMPONENT */

.profile-picture {
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture img {
  width: 100%;
}

@media (max-width: 576px) {
  body {
    display: none;
  }

  html::after {
    content: 'Balls';
  }
}
