.button-height{
  height: 50px;
  align-self: auto;
}

.btn {
  --bs-btn-padding-y: .2rem;
  --bs-btn-padding-x: .90rem;
}

.active {
  font-weight: bold;
}

nav {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: border-color 125ms linear;
}

ul {
  transition: transform 300ms;
}

ul.hide {
  transform: translateY(100%);
}
