<nav
  class="
    navbar
    navbar-expand
    p-0
    bg-body-tertiary
    border
    border-5
    border-top-0
    shadow-sm
    container
    bg-white
  "

  [class.border-warning]="page == 'play'"
  [class.border-success]="page == 'rankings'"
  [class.border-light-secondary]="page == 'profile'"
>
  <div class="container-fluid pe-0">
    <a class="navbar-brand ms-3" href="./"><app-logo></app-logo></a>
    <ul class="nav nav-tabs align-self-end border-transparent me-5">
      <li class="nav-item">
        <a
          class="nav-link text-white border-warning bg-warning"
          [class.active]="page == 'play'"
          routerLink="./play"
        >
          <i class="bi bi-play-circle-fill me-1"></i>
          Play
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white bg-success border-success"
          [class.active]="page == 'rankings'"
          routerLink="./rankings"
        >
          <i class="bi bi-trophy-fill me-1"></i>
          Rankings
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white bg-light-secondary border-light-secondary"
          [class.active]="page == 'profile'"
          routerLink="./profile"
        >
          <i class="bi bi-person-circle me-1"></i>
          Profile
        </a>
      </li>
    </ul>
  </div>
</nav>
