.button-height{
  height: 50px;
  align-self: auto;
}

.btn {
  --bs-btn-padding-y: .2rem;
  --bs-btn-padding-x: .90rem;
}

.active {
  font-weight: bold;
}

nav {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: border-color 125ms linear;
}

ul, li {
  border-color: transparent;
}

ul li {
  transition: transform 300ms;
}

ul li:nth-child(2) {
  transition-delay: 150ms;
}

ul li:nth-child(3) {
  transition-delay: 300ms;
}

ul.hide li {
  pointer-events: none;
  transform: translateY(calc(110%));
}
