<nav class="navbar navbar-expand bg-body-tertiary shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><app-logo></app-logo></a>
      <div class="position-absolute end-0 me-5 fs-5">
        <ul class="navbar-nav">
          <li class="nav-item me-2">
            <button type="button" class="btn btn-warning">
              <a class="nav-link" href="#">User</a>
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-success">
              <a class="nav-link text-white " href="#">Rankings</a>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>