<form
  (submit)="submit()"
  class="text-center container shadow-sm card card-body mt-5 hideable"
  [class.hidden]="hidden"
>
  <h2 class="fw-bold mb-3">
    <ng-container *ngIf="signingUp(); else login">
      Signup
    </ng-container>
    <ng-template #login>
      Login
    </ng-template>
  </h2>
  <div class="input-group mb-3">
    <span class="input-group-text">Nickname</span>
    <input
      #nickname
      type="text"
      class="form-control"
      maxlength="20"
      required
    >
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">Password</span>
    <input
      #password
      type="password"
      class="form-control"
      required
    >
  </div>
  <button class="btn btn-success mx-auto px-3 mb-2">OK</button>
  <a *ngIf="!signingUp() && !signedUp" routerLink="./signup">Wanna signup?</a>
  <a *ngIf="signingUp()" routerLink="/">Already in? Login</a>
  <div
    *ngIf="error != null"
    [class.shake]="shake"
    class="alert text-start alert-danger p-2 mt-4 m-0"
  >
    <b>Error!</b>
    <br>
    {{ error }}
  </div>
  <div
    *ngIf="signedUp"
    class="alert text-start alert-primary p-2 mt-3 m-0"
  >
    <b>Profile created!</b>
    <br>
    You can now login with your new credentials.
  </div>
</form>
